.container {
  position: absolute;
  border: 4px solid var(--orange-light);
  background-color: var(--orange-transparent);
  cursor: pointer;
}

.container:hover {
  border-color: var(--red-light);
  background-color: var(--red-transparent);
}

.selected {
  border-color: var(--red-light);
  background-color: var(--red-transparent);
}

.heading {
  position: absolute;
  top: -23px;
  left: -4px;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: var(--orange-light);
}

.container:hover .heading {
  background-color: var(--red-light);
}

.selected .heading {
  background-color: var(--red-light);
}
